*{
    margin: 0;
    padding: 0;
}
body{
  height: 100%;
  box-sizing: border-box;
  font-family:'Poppins', Arial, sans-serif;
}
p{
  font-size: 16px;
  font-family: 'Poppins';
}
a{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins';
}
h1 h2 h3 {
  font-family: 'Poppins';
}
#nav {
    height: 120px;
    border: none;
} 

#bg-header {
    background: #FFEAC5;
}

  /* Style the links inside the navigation bar */
  #langue{

  }
  #langue a{
    color: #0f0e0e;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #c63c8c;
    border-radius: 9px;
    width: 50px;
    height: 40px;
    padding: 12px;
  }
  
  #langue a:hover{
    background: #c63c8c;
    color: #fff;
    border-radius: 9px;
    text-decoration: none;
} 

.title{
    margin-top: 80px;
}
.t1 {
    font-weight: 600;
    font-size: 40px;
    color: #c63c8c;
}
.t2 {
    font-weight: 600;
    font-size: 40px;
    color: #f18d42;
}
h1{
    font-weight: 700;
    font-weight: bold;
    font-size: 60px;
    text-transform: capitalize;
    color: #c63c8c;
    line-height: 36px;
}
.programme{
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
    color: #c63c8c;
    line-height: 66px;
    padding-top: 100px;
}
.lead{
    padding-top: 23px;
    font-weight: normal;
    font-size: 16px;
    color: #1b1a1a;
}
.programe-challenge{
  height: 300px;
}
/* Style buttons */
.btnHeader {
    background: #c63c8c; 
    border: none; 
    border-radius: 20px;
    color: white; 
    cursor: pointer;  
    width: 300px;
    font-weight: bold;
    font-size: 18px;
    padding: 16px 140px 16px 2px;
    font-weight: bolder;
  }
  
  .btnHeader:hover {
    background: #f18d42; 
  }
  .btnHeader i {
    font-size: smaller;
    width: 30px;
  }

  .div-center {
    text-align: center;
    margin-top: 60px;
  }
  .btn-conditions{
    background-color: #c63c8c; 
    border: none; 
    color: #FFEAC5; 
    cursor: pointer;  
    font-weight: bold;
    font-size: 16px;
    margin-top: 70px;
    text-align: center;
    padding: 16px 19px;
  }
  /* .text-center {
    text-align: center;
    padding-top: 100px;
  }
  .text{
    padding-top: 20px;
  } */
  .programme-section{
    background: #FFEAC5;
    height: auto;
  }
  .thumbnail{
    width: 280px;
    height: 370px;
    background: #fff;
    border: 4px solid #f18d42;
  }
  .card1{
    border-radius: 0px 80px 0px;
  }
  .card2{
    border-radius: 0px 0px 80px 80px;
  }
  .card3{
    border-radius: 80px 0px 80px;
  }
  .caption{
    text-align: center;
    color: #555250;
  }
 
