*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo {
    width: 150px;
}

.navbar {
    background-color: #fff;
    height: 90px;
    border: none;
}

.bg-header {
    background: #FFEAC5;
    height: 500px;
}
.women-header{
    width: 350px;
    height: 480px;
    margin-top: 30px;
}
.women-header img {
    width: 400px;
}
.lang{
    border: 1px solid red;
}

.topnav{
    width: auto;
    margin-top: 30px;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #0f0e0e;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #711A50;
    border-radius: 3px 9px 3px;
    
  }
  
.topnav :hover{
    background: #711A50;
    color: #fff;
}


.topnav a :active{
    background: #711A50;
    color: #fff;
}

#banner{
    display: flex;
    flex-direction: row;
}
.title{
    margin-top: 80px;
}
.t1 {
    font-weight: 600;
    font-size: 40px;
    color: #711A50;
}
.t2 {
    font-weight: 600;
    font-size: 40px;
    color: #f18d42;
}
h1{
    font-weight: 700;
    font-weight: bold;
    font-size: 60px;
    text-transform: capitalize;
    color: #711A50;
    line-height: 36px;
}
h2{
  text-transform: capitalize;
    color: #711A50;
    font-weight: 700;
}
.lead{
    padding-top: 23px;
    font-weight: normal;
    font-size: 16px;
    color: #1b1a1a;
}

/* Style buttons */
.btn {
    background-color: #711A50; 
    border: none; 
    border-radius: 20px;
    color: white; 
    padding: 16px 19px; 
    cursor: pointer;  
    width: 200px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #f18d42;
  }
  .btn i {
    font-size: 20px;
    width: 30px;
  }
  .programme-banner{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
  }

  .btn-center{
    background-color: #711A50; 
    border: none; 
    border-radius: 20px;
    color: #FFEAC5; 
    padding: 16px 19px; 
    cursor: pointer;  
    width: 500px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 70px;
    text-align: center;
  }

  .div-center {
    text-align: center;
  }

  .text-center {
    text-align: center;
    padding-top: 40px;
  }
  .text{
    padding-top: 20px;
  }
  .programme-section{
    background: #FFEAC5;
    height: auto;
  }
  .thumbnail{
    width: 280px;
    height: 370px;
    background: #fff;
  }
  .card1{
    border-radius: 0px 80px 0px;
  }
  .card2{
    border-radius: 0px 0px 80px 80px;
  }
  .card3{
    border-radius: 80px 0px 80px;
  }
  .caption{
    text-align: center;
    color: #555250;
  }
  .container-timer{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    background: #fff;
    border: 2px solid #EF8242;
    border-radius: 100px 0%;
  } 

  #clockdiv{
    color: #fff;
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;

}
.end-register{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: flex;
    padding-bottom: 35px;
}
#clockdiv div > span{
    font-size: 50px;
    font-weight: 700;
        color: #711A50;
}
.days, .hours, .minutes{
    margin-left: 0px;
    margin-right: 10px;
}
.smalltext{
    padding-top: 5px;
    padding-left: 0px;
    font-size: 10px;
    color: black;
}
form{
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  margin-bottom: 60px;
}
input[type='file']{
  display: none;
}
.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.file-similation{
  margin-top: -25px;
  text-align: center;
  background-color: #711A50;
  color:#fff;
  border-radius: 5% / 50%;
  padding: 10px 25px;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  border: none;
  font-weight: bold;
}
button[type='submit']{
  background-color: #711A50;
  color:#fff;
  border-radius: 3% / 50%;
  font-weight: bold;
}
.partner-banner .container{
 display: flex;
 justify-content: space-between;
 padding: 20px 0px;
}
.partner-banner .container img{
  width: 140px;
  height: 80px;
}
.footer{
  background-color: #FFEAC5;
}
.footer-img{
  background-color: #FFEAC5;
}
.footer-img img{
  width: 100%;
  height: 105px;
}
.end-phrase{
  text-align: center;
  padding: 25px 22% 5%;
}
.icone{
  display: flex;
  justify-content: flex-end;
  height: 72px;
}
.icone img{
  width: 45px;
  padding: 0px 5px;
}